.ant-btn.record-button {
  float: right;
  top: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.time-info {
  float: right;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 400;
}

.audio-player {
  position: absolute;
  z-index: 10000;
  top: 20px;
  right: 100px;
  width: 230px;
  height: 25px;
}


canvas.sound-wave {
  height: 25px;
  border-radius: 150px;
  /* background: black; */
  width: 230px;
  position: absolute;
  top: 20px;
  right: 200px;
}
